<h1><%=@article.title%> </h1>
<div>
<p>Escrito por: <%= @article.user.email %></p>
</div>
<div>
    <%=@article.content%>
</div>

<div class="margin-top">
    <p class="label"> Tags </p>
    <% @article.categories.each do |category| %>
        <span class="badge badge-pill padding" style="background-color:<%= category.color %>">
            <%= link_to category.title, category, class:"text-white" %>            
        </span>

    <% end %>
</div>
<div>
    
    <%= link_to "Editar articulo", edit_article_path(@article) %>
    <%=button_to "Eliminar articulo", @article, method: :delete %>
</div>


